@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  --light-green: #A6E14E;
  --dark-green: #83AE44;
  --dark-orange: #EB7927;
  --light-orange: #FCA31E;
  --yellow: #FDCE5D;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgb(209, 209, 209);
}

input:focus, input:hover {
  border-color: var(--light-green);
}

button, input {
  font-family: inherit;
  outline: none;
  transition: all .2s ease-in-out;
}

button:hover {
  cursor: pointer;
}

h3 {
  margin: 0;
}

/* NAV STYLES */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 3rem;
}

.nav-links {
  padding: 0;
  margin: 0;
  font-size: large;
  display: flex;
  gap: 5rem;
}

.logo {
  display: flex;
  gap: 4rem;
  text-decoration: none;
  font-size: large;
  color: black;
}

.link {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  text-decoration: none;
  gap: .5rem;
  color: black;
}

.link:hover {
  color: var(--dark-orange);
  cursor: pointer;
}

/* HOME STYLES */

.shop-background, .home-background {
  position: relative;
  overflow: hidden;
}

.home-background {
  height: 40rem;
  background: url('https://images.unsplash.com/photo-1592150621744-aca64f48394a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1491&q=80') no-repeat center center;
  background-size: cover;
  opacity: .7;
}

.home-cards {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 15px;
  justify-items: center;
}

article {
  width: 20rem;
  padding: 1rem 2rem;
  border: 2px solid var(--light-green);
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

article:hover {
  transform: scale(1.03);
}

article>h3 {
  border-bottom: 1px solid var(--light-green);
}

p {
  line-height: 1.6;
}

.reviews {
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 50px;
  justify-items: center;
}

.reviews>div {
  background-color: white;
  width: 15rem;
  height: 5rem;
  font-size: small;
  border-radius: 20px;
  padding: 1rem;
}

.stars {
  color: var(--yellow);
}

/* SHOP STYLES */

.shop-background {
  height: 25rem;
  background: url('https://images.unsplash.com/photo-1525033842647-a956848705f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center;
  background-size: cover;
  opacity: .7;
}

/* .sticky-bar {
  background-color: var(--light-green);
  padding: 1rem;
  width: clamp(150px, 20%, 300px);
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: sticky;
  top: 0;
  z-index: 1000;
} */

.items-container {
  position: relative;
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  justify-items: center;
  align-items: center;
}

.item-info {
  border: 2px solid var(--light-green);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.item-picture {
  height: 25rem;
  width: auto;
}

.item-link {
  color: black;
  text-decoration: none;
  width: 100%;
  box-shadow: 3px 3px 5px rgb(204, 207, 201);
  transition: all .2s ease-in-out;
}

.item-link:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* ITEM DETAIL STYLES */

.item {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  font-size: large;
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.item-detail-picture {
  height: 30rem;
  width: 20rem;
  box-shadow: 3px 3px 5px rgb(204, 207, 201);
}

.item-type {
  font-style: italic;
  padding: 1px;
  color: var(--yellow);
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.add-to-cart {
  font-size: large;
}

.add-to-cart, .pay-button {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
  background: none;
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.add-to-cart:hover, .pay-button:hover {
  background-color: var(--light-green);
}

.item-related {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
}

.related-product {
  transition: all .2s ease-in-out;
  opacity: 0.6;
}

.related-product:hover {
  opacity: 1;
}

/* SHOPPING CART STYLES */

.shopping-cart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 2rem;
  height: 100vh;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cart-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1px;
}

.cart-head {
  border-bottom: 1px dotted black;
}

.cart-footer {
  border-top: 1px dotted black;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  align-items: center;
}

.close-cart {
  font-size: large;
}

.close-cart:hover {
  cursor: pointer;
  color: var(--dark-orange);
}

.cart-items-list {
    margin: 6px 0;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  align-items: center;
  padding: 5px 0;
}

.cart-item-price {
  justify-self: end;
}

.pay-button {
  font-size: medium;
  margin: 2rem auto;
}

.empty-cart {
  text-align: center;
  padding: 5px;
  color: var(--dark-green);
}

.delete-icon {
  color: rgb(202, 209, 205);
  justify-self: end;
}

.delete-icon:hover {
  cursor: pointer;
  color: rgb(170, 173, 172);
}

/* MODAL CART STYLES */

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  background-color: white;
  font-size: large;
  margin: auto;
  padding: 50px 70px;
  border: 2px solid var(--light-green);
  border-radius: 20px;
}